.user-menu{
  padding: 25px 0;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: brown;
  width: 100%;
  margin-bottom: 37px;
}
.email{
  color: white;
  font-size: 28px;
}
button{
  padding: 10px;
  width: 120px;
  cursor: pointer;
  color: white;
  background: cornflowerblue;
  border: none;
  border-radius: 10px;
}
.button-group{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.main-title{
  color: white;
  margin: 0;
}
.exit{
  background: darkblue;
}
